<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>989457159874-5c0ppkbrru4mvonc55q3no226fbj1875.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.989457159874-5c0ppkbrru4mvonc55q3no226fbj1875</string>
	<key>API_KEY</key>
	<string>AIzaSyAs9c56XAGxvoga9TV7-CCuoKcKMVq8qLk</string>
	<key>GCM_SENDER_ID</key>
	<string>989457159874</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.DhayenApp</string>
	<key>PROJECT_ID</key>
	<string>dhayen-8875b</string>
	<key>STORAGE_BUCKET</key>
	<string>dhayen-8875b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:989457159874:ios:ba1a6958c94defeac04d5b</string>
</dict>
</plist>